
/* Pagination */
.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination > li {
  margin-right: 10px;
  color: #e53e3e;
}

.pagination > li > a {
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  font-weight: bold;
}

.active {
  border: 1px solid #e53e3e;
  background-color: #e53e3e;
  color: #fff !important;
  border-radius: 20px;
}

.pagination {
  margin-bottom: 0px !important;
}