.galleryContainer {
  margin-top: 10px;
  overflow: hidden;
}

.galleryContainer p {
  margin-bottom: 0;
  margin-top: 0;
}

.filter {
  background-color: #fff;
  padding: 5px;
  overflow: hidden;
}

.category {
  margin-top: 3px;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.category p {
  color: #e53e3e;
  font-weight: 600;
  border-right: 2px solid #e53e3e;
  padding-right: 20px;
  margin-right: 20px;
}

.category div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contentBody {
  margin-top: 3px;
}

.galleries {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Card */
.card {
  height: 340px;
  width: 330px;
  background-color: #fff;
  margin-bottom: 20px;
}

.card img {
  height: 200px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cardBody {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  height: 140px;
  background-color: #fdf0f0;
}

.cardBody p {
  height: 70%;
}

.cardBodyInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #e53e3e;
  height: 25%;
}

.cardBodyInfo p {
  background-color: #eed;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
}

/* Content Bottom */
.leftSection {
  width: 28%;
  float: left;
}

.btmLeftSection {
  height: 130px;
  background-color: #fff;
}

.subUnitsContainerTitle {
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  border-bottom: 1px solid #ddd;
}

.subUnits {
  display: flex;
  align-items: center;
}

.rightSection {
  width: 71%;
  float: right;
}

.btmRightSection {
  height: 130px;
}

.socialMediaContainer {
  height: 130px;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.btmRightSectionTitle {
  color: #e53e3e;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactContainer {
  height: 130px;
  background-color: #fff;
  font-size: 15px;
}
/* Media Query */

/* Small to 1000px */
@media only screen and (max-width: 1000px) {
  .leftSection {
    width: 100%;
  }

  .rightSection {
    width: 100%;
  }

  .btmRightSection {
    height: 170px;
  }

  .subUnits {
    justify-content: center;
  }

  .btmLeftSection {
    height: 130px;
  }

  .socialMediaContainer,
  .contactContainer {
    height: 170px;
  }

  .socialMedia {
    padding-top: 25px !important;
  }

  .contact {
    padding-top: 20px !important;
  }
}

/* LG break */
@media only screen and (max-width: 991px) {
}

/* <800px */
@media only screen and (max-width: 800px) {
  .contact {
    padding-top: 0px !important;
  }
}

/* Md breakpoint */
@media only screen and (max-width: 767px) {
  .filter div:first-child {
    text-align: center;
    padding-bottom: 5px;
  }

  .filter div:last-child {
    padding-left: 20px;
    padding-top: 5px;
  }
}

/* Medium Screen Device*/
@media only screen and (max-width: 600px) {
  .btmRightSection {
    height: 230px;
  }

  .btmLeftSection {
    height: 130px;
  }

  .socialMediaContainer,
  .contactContainer {
    height: 110px;
  }

  .socialMediaContainer {
    margin-bottom: 10px !important;
  }

  .contact {
    padding-left: 15px !important;
    font-size: 14px;
  }

  .socialMedia,
  .contact {
    padding-top: 5px !important;
  }
}

/* Small Screen Device */
@media only screen and (max-width: 350px) {
  .btmRightSection {
    height: 260px;
  }

  .contactContainer {
    height: 140px;
  }
}
