::placeholder {
  color: black;
  font-weight: bolder;
}

.input,
.textarea {
  background-color: white;
  border: 0px !important;
  border-radius: 0 !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: white !important;
  border: 0px !important;
  border-radius: 30px !important;
}

.contact-info .row {
  margin: 10px 10px;
}

.contact-info .row p {
  margin: 0 !important;
}

.contact-info .row h5 {
  font-weight: bolder;
}