/* Style */
.criminalRecordContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff;
}

.cvInputButton {
  font-family: "hanuman";
  padding: 5px;
}

.cvTitle {
  font-family: "hanuman";
  font-weight: "600";
  font-size: 1.1em;
}
/* Media Query */

/* Small to 1000px */
@media only screen and (max-width: 1000px) {
}

/* <800px */
@media only screen and (max-width: 800px) {
}

/* Md breakpoint */
@media only screen and (max-width: 767px) {
}

/* Medium Screen Device*/
@media only screen and (max-width: 600px) {
}

/* Small Screen Device */
@media only screen and (max-width: 350px) {
}
